html {
    scroll-behavior: smooth;  /* Establece el comportamiento de desplazamiento suave al hacer clic en enlaces anclados dentro del HTML. */
    ::-webkit-scrollbar { /* Establece el ancho de las barras de desplazamiento */
        width: 5px;
    }
    ::-webkit-scrollbar-thumb { /* Establece el color y birdes redondeados de las barras de desplazamiento */
        background-color: #258ddd;
        border-radius: 5px;
    }
    
    ::-webkit-scrollbar-track { /* Establece el color de fondo de las barras de desplazamiento */
        background-color: #f1f1f1d6;
        border-radius: 25px;
    }
}

body { /* Establece algunas propiedades generales para el cuerpo del documento. */
    margin: 10; /* Establece el margen. */
    font-family: Lexend; /* Define la fuente principal para el texto. */
    font-weight: 200; /* Establece el peso de la fuente. */
    font-size: 19px; /* Establece el tamaño de la fuente. */
    overflow-x: hidden; /* Oculta el desbordamiento horizontal para evitar barras de desplazamiento. */
}   

header { /* Establece estilos para la sección de encabezado. */
    display: flex; /* Establece el modelo de caja flexible para el encabezado. */
    justify-content: center; /* Centra los elementos del encabezado horizontalmente. */
    text-align: center; /* Centra el texto dentro del encabezado. */
    font-size: 20px; 
    color: #004c8194; /* Establece el color del texto. */
    z-index: 10; /* Establece el índice de apilamiento para controlar la superposición de capas. */
    padding: 1px; /* Agrega un pequeño relleno alrededor del contenido. */
    margin: -10px; /* Establece un margen negativo para compensar el espacio no deseado. */
    background-image: url('https://cdn.dribbble.com/users/2996571/screenshots/6197439/media/4cb1a779817ddd03d08f2fee18f20833.gif');
    background-size: cover;
    background-clip: text;
    background-repeat: no repeat;
    transition: 1s;
}
header:hover {
    color: #000; /* Establece el color del texto. */
}

.hamburguerIcon { /* Estilo para el icono del menú que despliega el índice */
    height: 40px;
    position:fixed; 
    margin-top: 0.45%; 
    margin-left: 1%; 
    user-select:none;
    border-radius: 30%;
    cursor: pointer;
    transition: 0.2s;
    z-index: 400;
}
.hamburguerIcon:hover {
    scale: 1.1
}
#smallerScreenIconToggle {
    display: none;
    visibility: hidden;
}

.indexTooltip { /* Estilo para el tooltip animado que aparecerá al hacer hover sobre el icono del menú */
    opacity: 0;
    margin-left: 3%; 
    z-index: -2;
    margin-top: 1%; 
    font-weight: 400;
    position: fixed;
    user-select: none;
    transition: 0.15s ease-in-out 0.3s;   
}
.hamburguerIcon:hover + .indexTooltip{ /* Detecta cuándo se hace hover en el icono y modifica el 'indexTooltip' */
    margin-left: 4.5%; 
    opacity: 0.9;
}

.index{ /* Establece estilos para la clase 'index'. */
    
    position: fixed;
    user-select: none;
    width: max-content;
    max-height: 86vh;
    padding-right: 0.7%;
    margin-bottom: 10%;
    margin-top: 4%;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 1.5s;

    input {
        display: none; /* Oculta el elemento 'checkbox' */
      }

    details {
        max-height: 2rem; /* Establace un alto justo para mostrar solo el 'label' (summary) de cada día */
        overflow: hidden; /* Oculta el resto del contenido */
        list-style: none;
        margin-bottom: 10px;
        transition: max-height 400ms ease-in-out; /* Animate the change */

        summary{
            font-weight: 400;
            display: block;

            label {
                position: relative;
                display: flex;
                align-items: center;
                padding-left: 1rem;
                height: 1.5rem;
                cursor: pointer;
            }
        
            label::after {
                content: "⏵";
                margin-top: -0.15rem;
                font-size: 1.5rem;
                height: 2rem;
                opacity: 0.2;
                display: flex;
                margin-left: 0.5rem;
                transition: rotate 200ms 400ms ease-out;
                transition: opacity 0.3s;
            }
            
            label:hover::after {
                opacity: 1;
            }
        }
        
        ol{
            display: flex;
            margin-left: -10%;
            margin-top: 6%;    
            padding-right: 1%;
            flex-wrap: wrap; /* Permite que los elementos se envuelvan en varias líneas si no caben en una sola línea. */
            flex-direction: column; /* Establece la dirección de diseño como columna. */
            width: calc(100vw/7.2); /* Establece el ancho máximo del contenedor según su contenido. */
            row-gap: 12px; /* Establece el espacio entre las filas en el diseño de cuadrícula. */
            list-style: none; /* Elimina los estilos de lista por defecto. */
            text-align: center;
            visibility: hidden;
            
            li {
                visibility: visible;
                border-color:black; 
                border-style: solid; 
                background-color: white; 
                font-weight: 300; 
                cursor: pointer;
                padding: 4px 8px 4px 8px; 
                border-width: 2px;
                border-radius: 5px; /* Establece la curvatura de las esquinas de los contenedores. */
                border-bottom: 2px solid black; 
                transition: 0.3s;
                border-top-color: black; 
                border-top-width: 2px;
            }
            li:hover {
                background-color: rgb(248, 253, 255);
                scale: 1.05; 
            }
    
            a {
                color: black; /* Establece el color del texto de los enlaces. */
                text-decoration: none; /* Elimina el subrayado predeterminado de los enlaces. */
            }
        }
        ol:hover > :not(:hover){ /* Modifica todos los elementos del ol menos el que está 'hover' */
            opacity: 0.45;
        }
    }

    input:checked + details {
        max-height: 55vh;  /* Establece una altura máxima lo suficientemente grande como para mostrar todo el contenido*/
    }

    input:checked + details label::after {
        rotate: 90deg;
        opacity: 1;
        transition: rotate 200ms ease-out;
      }

    #dia4{ /* Caso especial para el día en cuestión, para que se inicie desplegado */
        max-height: 55vh; 
        label::after {
            rotate: 90deg;
            opacity: 1;
            transition: rotate 200ms ease-out;
        }
    }
    input#dia4:checked + details { /* Caso especial para el día en cuestión, para que se inicie desplegado */
        max-height: 2rem; 
        label::after {
            rotate: 0deg;
            opacity: 0.2;
        }
    }
    
    #exc { 
        padding-top: 8px;
        margin-top: 63px;
        background: #ffb2b2;
        border-radius: 7px;
        label{
            font-weight: 500;
            font-size: 18px;
            padding-left: 12.3%;
        }
        label::after { /* Le quito el símbolo de desplegable que estaba adignado al resto de elementos del índice */
            content: "";
        }
    }
}

.contentContainer { /* Modifica el estilo del div de contenido al completo */
    float: left;
    margin-left: 16.7%; 
    margin-bottom: 3%; 
    width: 78%; 
    transition: 1.5s 0.05s;
    h2, p {
        margin-left: 3%;
    }
    h2 {
        margin-top: 4%;
    }
}

.content { /* Establece estilos para la clase 'content'. */
    display: flex; 
    justify-content: center; 
    flex-direction: row; 
    flex-wrap: wrap; 
    margin-top: 2rem; 
    gap: 3rem; 
    row-gap: 2.8rem; 

    div {
        padding: 40px 30px;
        border-radius: 7px;
        min-height: 11rem; 
        min-width: 17rem; 
        max-width: 10rem; 
        text-align: center; 
        background-color: #edf1f2; 
        border: solid #00000010; 
        border-bottom:solid #00000010; 
        border-width:2px; 
        box-shadow: #8f8f8f20 0px 0px 10px; 
        transition: 0.2s ease-in-out;

        h3 {
            font-weight: 500; 
            font-size: 25px;
            margin-top: -10px; 
        }

        img {
            position: relative; /* Establece la posición relativa para las imágenes. */
            object-fit: contain;
            border-radius: 6px;
            margin-top: 4%;
            margin-bottom: 4%;
            max-height: 15rem; 
            max-width: 17rem;
            transition: 0.5s;
        }

        .zoom {
            margin-bottom: 0;
        }

        .zoom:hover {
            scale: 1.35;
            z-index: 100;
        }

        p {
            margin-left: 5%;
            margin-right: 0;
            margin-top: 4%;
            text-align: left; 
            text-wrap: pretty; 
            font-weight: 400;
            font-size: 18px;
        }

        .delay{
            display: inline-block;
            background: black;
            color: #004c8194;
            padding: 30px;
            border: 8px solid blue;
            transition: all 0.5s 0s linear;
            position: absolute;
            margin-top: -5%;
            margin-left: -2%;
            transform-origin: 30% 30%;
        }

        .delay.ON{
            transition-delay: 1s;
        }

        .delay:hover {
            background: white;
            color:  #004c8194;
            transform: scale(1.5);
            border: 3px solid #004c8194;
        }

        .duration{
            display: inline-block;
            background: black;
            color: #004c8194;
            padding: 30px;
            border: 8px solid blue;
            transition: all 0.5s linear;
            position: absolute;
            margin-top: -5%;
            margin-left: -2%;
            transform-origin: 30% 30%; 
        }

        .duration.ON{
            transition-duration: 2s;
        }
       
        .duration:hover {
            background: white;
            color:  #004c8194;
            transform: scale(1.5);
            border: 3px solid #004c8194;
           }

    }


    div:hover {
        background-color: #d6e4f092;
    }
    
}

@media (max-width: 1300px) { /* Aplica los siguientes ajustes si el ancho de la página es menor a 1300px - FORMATO ESTRECHO */
    .hamburguerIcon {
        visibility: hidden;
    }
    .index {
        display:none;
        position: fixed;
        max-height: 45%;
        padding-bottom: 5%;
        left: -1.5vw;
        top: 7vh;
    }
    .contentContainer {
        margin-top: 2%;
        left: 50%;
        transform: translate(-7.3%)
    }
}

footer { /* Establece estilos para la sección de pie de página. */
    text-align: right; 
    position: fixed; 
    bottom: 1%;
    right: 0.7%; 
    color: #00000040; 
    transition: 0.5s; /* Aplica una transición suave durante 0.5 segundos en cambios de opacidad. */
    font-size: 15px; 
}
footer:hover { /* Establece estilos para cambiar el color del texto en el pie de página al pasar el ratón sobre él. */
    color:#000000;
}

